.top{
    height: 300px;
    width: 100%;
    background: cornflowerblue;
    position: relative;
}
.top .user-head-class{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: inline-block;
    background: #fff;
    position: absolute;
    bottom: -100px;
    border: 1px solid darkgray;
    left: 50px;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
}
#yourHead{
    width: 100%;
}
.top .set-class{
    font-size: 50px;
    color: #fff;
    right: 10px;
    top: 10px;
    position: absolute;
}

.content{
    box-sizing: border-box;
    padding-top: 120px;
    height: calc(100vh - 450px);
    width: 100%;
    background: #fff;
}
.content .view-class{
    height: 150px;
    width: 90%;
    background: floralwhite;
    font-size: 50px;
    line-height: 150px;
    margin: 10px auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    color: darkgray;
    border-radius: 15px 15px;
}
.content .view-class>span{
    float: right;
}
.content iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

